# Dev directories
coverage
test
.nyc_output
.arcconfig
.arclint
.travis.yml
.gitignore
.github

# Editors
.editorconfig
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Dependency directory
node_modules
yarn.lock
package-lock.json

# OSX
.DS_Store

# Nix
shell.nix

# Logs
logs
*.log
.yarnclean